{% extends "base.html" %}
{% load static %}

{% block title %}
  订票系统：主页
{% endblock %}

{% block css %}
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar_right %}
  {% if session.is_login %}
    <li><a> {{ session.username }} </a></li>
    <li> <a href="/booking_system/logout/"> 注销 </a></li>
  {% else %}
    <li><a href="/booking_system/login/">登录</a></li>
    <li><a href="/booking_system/register/">注册</a></li>
  {% endif %}
{% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1> 欢迎登录 <br/> 机票订购系统 </h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <div class="nav-prompt">
            <h2> 查询航班 </h2>
            <p> 您可以根据出发地、目的地和日期查询航班。 </p>
            <p> 选择适合您的航班，购买机票。 </p>
          </div>
          <p><a class="btn btn-default" href="/booking_system/flight-query/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <div class="nav-prompt">
            <h2> 查询订单 </h2>
            <p> 在这里查询您的交易订单。 </p>
          </div>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>  </p>
      </footer>
    </div> <!-- /container -->

{% endblock %}